body{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.8rem;
  background-color: #F28B49;
  color: #fde0cd;
}

.btn {
  font-size: 0.8rem!important;
}

.btn-c4rl {
  background-color: #ef7325!important;
  color: white;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
}

#chat {
  padding-bottom: 7rem;
}

.baloonC4rl {
  background-color: #fff;
  color: #ef7325;
}

.baloonIntent {
  background-color: #fac9a9;
  color: #c5550e;
}
